<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloandroid">
    <!-- Specify WRITE_EXTERNAL_STORE in order ot use the SharedPreference feature -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Cannon_MainActivity"
            android:label="@string/cannon_name"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".Puzzle_MainActivity"
            android:exported="false"
            android:label="@string/puzzle_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePuzzle" />
        <activity
            android:name=".On_Configuration_Change_2_MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".On_Configuration_Change_MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Orientation_MainActivity"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="true"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Candy_Store_MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsertActivity"
            android:exported="false"
            android:label="@string/title_activity_main4"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCandyStore" />
        <activity
            android:name=".DeleteActivity"
            android:exported="false"
            android:label="@string/title_activity_main4"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCandyStore" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:label="@string/title_activity_main4"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCandyStore" />
        <activity
            android:name=".TicTacToeMainActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".TipCalculatorMainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Mortgage_MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMortgage">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".DataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMortgage" />
    </application>

</manifest>